@media (min-width: 992px) {        
      ::-webkit-scrollbar {
        width: 5px;
      }
      ::-webkit-scrollbar-track {
        background: transparent; 
      }
      ::-webkit-scrollbar-thumb {
        background: #ccc; 
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #999; 
      }
  }